<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Часто говорят, что у человека и шимпанзе ДНК совпадает на 99 %. Генетическое сравнение не такое легкое из-за природы генных повторений и мутаций, но лучшая оценка где-то между 85 % и 95%. Довольно впечатляющие цифры. Но большая часть ДНК уходит на основные клеточные функции, которые есть у всех живых организмов. Например, у нас половина такого же ДНК, как и у банана, но мы же не говорим, что банан похож на нас. У Шимпанзе 48 хромосом, в 2 раза больше, чем у человека. Считается, что это произошло из-за того, что у человеческого предка 2 пары хромосом слились в одну. Даже 2 совершенно несвязанных родством человека генетически более похожи, чем два родственных шимпанзе.
</p>